<h3>Servers Component</h3>
<hr>

  <label> Input Value </label>
  <input type="text" placeholder="insert value" (input)= "onUpdateServer($event)">

  <p> {{displayText}} </p>

<hr>
  <button class="btn btn-primary"
      [disabled] ="!allowNewServer"
      (click) = "onCreateServer()"
  >
  Add Server
  </button>

  <p>{{serverStatus}}</p>

  <div class="container">
    <div class="container" width="10px">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <app-server server="First Server"></app-server>
        </li>
        <li class="list-group-item">
          <app-server server="Second Server"></app-server>
        </li>
      </ul>
    </div>
  </div>
